.categories {
  display: grid;
  grid-template-columns: repeat(6, 201px);
  grid-template-rows: repeat(2, 240px);
  column-gap: 30px;
  row-gap: 50px;
  // margin-top: 160px;
  padding-top: 160px;
  color: $white;
  &-item {
    &-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      &-score {
        &:hover {
          color: $pink;
          cursor: pointer;
        }
      }
    }
    img {
      width: 205px;
      height: 205px;
      border-radius: 20px;
      &:hover {
        box-shadow: 0 0 0 5px $pink;
      }
    }
    &-inactive {
      filter: grayscale(100%); 
    }
  }
}